:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
}

html,
body {
  height: 100%;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cards-container {
  display: flex;
  height: 500px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border-radius: 20px;
  padding: 10px 0 10px 0;
  gap: 20px;
  padding-top: 10px;
}

.result-title {
  color: var(--light-lavender);
}

.score-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.circle-text .total-score {
  font-size: 64px;
  color: var(--white);
  font-weight: 800;
}

.circle-text .max-score {
  text-align: center;
  font-weight: 600;
  color: var(--light-slate-blue);
}

h1 {
  color: white;
  margin: 0;
}

.result-description {
  margin: 0 80px 0 80px;
  text-align: center;
  color: var(--light-slate-blue);
  font-weight: 600;
}

.summary-container {
  width: 380px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  right: 50px;
  z-index: -999;
  padding-top: 10px;
}

.summary-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 28px;
}

.summary-content > h2 {
  margin-bottom: 10px;
}

.topic-container {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-radius: 10px;
}

.topic-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topic-reaction {
  background-color: hsla(0, 100%, 67%, 0.15);
}

.topic-reaction .topic-title {
  color: hsl(0, 100%, 67%);
  font-weight: 600;
}

.topic-memory {
  background-color: hsla(39, 100%, 56%, 0.15);
}

.topic-memory .topic-title {
  color: hsl(39, 100%, 56%);
  font-weight: 600;
}

.topic-verbal {
  background-color: hsla(166, 100%, 37%, 0.15);
}

.topic-verbal .topic-title {
  color: hsl(166, 100%, 37%);
  font-weight: 600;
}

.topic-visual {
  background-color: hsla(256, 72%, 46%, 0.15);
}

.topic-visual .topic-title {
  color: hsl(256, 72%, 46%);
  font-weight: 600;
}

.topic-total-score {
  color: grey;
}

.btn-continue {
  margin-top: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: var(--dark-grey-blue);
  color: white;
  font-weight: 600;
}
